.message-wrap {
    z-index: 9999;
    position: fixed;
    top: -84px;
    margin: 0 auto;
    text-align: center;
    background: #383536;
    left: 0;
    right: 0;
    min-width: 30%;
    max-width: 70%;
    width: 30%;
    border-radius: 5px;
    padding: 8px;
    transition: top 1s;
    border: 1px solid #ffffff40;
}

.message-wrap.slide-down {
    top: 7px;
}

.message-wrap p {
    position: relative;
    top: 6px;
    font-weight: 500;
    font-size: 1.1em;
}
.message-wrap p.warning {
    color: #ff5d5d;
}
.message-wrap p.success {
    color: #55bd4e;
}