@import 'node_modules/bootstrap/scss/bootstrap';
@import 'node_modules/bootstrap-icons/font/bootstrap-icons';
@import url('https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900');
@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');
$pink: #ee0979;
$orange: #ff6a00;
$primary: $pink;
$secondary: $orange;
$min-contrast-ratio: 3;
$font-family-base: 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
  'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
  'Segoe UI Symbol', 'Noto Color Emoji';

$headings-font-family: 'Catamaran', -apple-system, BlinkMacSystemFont,
  'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

$headings-font-weight: 800;

header.masthead {
  position: relative;
  overflow: hidden;
  padding-top: calc(7rem + 72px);
  padding-bottom: 7rem;
  .masthead-content {
    z-index: 1;
    position: relative;
    .masthead-heading {
      color: #ee0979;
      font-size: 4rem;
      font-family: 'Catamaran';
    }
    .masthead-subheading {
      font-size: 2rem;
      font-family: 'Catamaran';
    }
  }
}

@media (min-width: 992px) {
  header.masthead {
    padding-top: calc(10rem + 55px);
    padding-bottom: 10rem;

    .masthead-content {
      .masthead-heading {
        font-size: 6rem;
      }

      .masthead-subheading {
        font-size: 4rem;
      }
    }
  }
} ;
